.couples__img1 {
    background-image: url(../img/card1.webp);
}

.couples__img2 {
    background-image: url(../img/card2.webp);
}

.couples__img3 {
    background-image: url(../img/card3.webp);
}

.couples__img4 {
    background-image: url(../img/card4.webp);
}

.couples__img5 {
    background-image: url(../img/card5.webp);
}

.couples__img6 {
    background-image: url(../img/card6.webp);
}

.couples__img7 {
    background-image: url(../img/card7.webp);
}

.couples__img8 {
    background-image: url(../img/card8.webp);
}